@font-face {
    font-family: "flowerIsland";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/flowerIsland/flowerIsland.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/flowerIsland/flowerIsland.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/flowerIsland/flowerIsland.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/flowerIsland/flowerIsland.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/flowerIsland/flowerIsland.ttf") format("truetype");
    font-display: swap;
}
.flowerIsland {
    font-family: "flowerIsland";
}